<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaggingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <TaggingTool.Properties.Settings>
            <setting name="InputType" serializeAs="String">
                <value>Csv</value>
            </setting>
            <setting name="HashMode" serializeAs="String">
                <value>Sha256</value>
            </setting>
        </TaggingTool.Properties.Settings>
    </applicationSettings>
</configuration>
